h1
  font-size: 3.0rem
  
  +is-sp
    font-size: 2.0rem

.container
  position: relative
  max-width: 375px
  margin: 10px auto

#game-root
  canvas
    display: block
    margin: auto

input
  background-color: #ddd
  border: solid 1px #444
  font-size: 30px

button
  background-color: #ddd
  border: solid 1px #444
  font-size: 20px
